@import '../theme';

.title {
  font-size: 80px;
  color: $text1;
}

.wrapper {
  width: 100%;
  height: 100%;
  align-items: center;
  background: $background1;
  color: $text2;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  min-width: 325px;
  transform: translateX(-50%) translateY(-50%);
}
