@import '../theme';

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: $background2;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
}

.content {
  background: $background1;
  color: white;
  width: 100%;
  padding: 20px;
}

.separator {
  border-color: white;
  padding: 0;
  margin: 0;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 10px 0 30px 0;
}
